@using Innova.Models;

@{
    List<SelectListItem> listaEstado = new List<SelectListItem>();

    listaEstado.Add(new SelectListItem() { Text = "Todos", Value = "-1" });
    listaEstado.Add(new SelectListItem() { Text = "Incompleto", Value = "1" });
    listaEstado.Add(new SelectListItem() { Text = "Completo", Value = "2" });
    listaEstado.Add(new SelectListItem() { Text = "En Revisión", Value = "3" });
    listaEstado.Add(new SelectListItem() { Text = "Aprobado", Value = "4" });
    listaEstado.Add(new SelectListItem() { Text = "Rechazado", Value = "5" });
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Criterios de Busqueda</div>
            <div class="panel-body form-horizontal">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="txtBusCod" class="col-lg-4 control-label text-right">Codigo:</label>
                            <div class="col-lg-8">@Html.TextBox("txtBusCod", "", new { @class = "form-control input-sm" })</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="txtBusAñoInicio" class="col-lg-1 control-label text-right">Año:</label>
                            <div class="col-lg-5">@Html.TextBox("txtBusAnhoInicio", DateTime.Now.AddYears(-2).Year.ToString(), new { @class = "form-control input-sm" })</div>
                            <label for="txtBusAñoFin" class="col-lg-1 control-label text-right">al</label>
                            <div class="col-lg-5">@Html.TextBox("txtBusAnhoFin", DateTime.Now.AddYears(2).Year.ToString(), new { @class = "form-control input-sm" })</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="ddlBusEstado" class="col-lg-4 control-label text-right">Estado:</label>
                            <div class="col-lg-8">@Html.DropDownList("ddlBusEstado", listaEstado, new { @class = "form-control input-sm" })</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom:10px">
    <div class="col-lg-6 text-left">
        <a target="_self" class="btn btn-primary" href="@Url.Content("~/RegistroCurricula/Index")">Registrar Curricula</a>
    </div>
    <div class="col-lg-6 text-right">
        <button type="button" id="btnBuscar" class="btn btn-primary">Buscar</button>
        <button type="button" id="btnLimpiar" class="btn btn-primary">Limpiar</button>
    </div>
</div>
<div class="row">
    <div id="pnlLista" class="col-lg-12">
    </div>
</div>