@using System.Collections.Generic;
@using System.Linq;
@using Innova.Models;

@model List<Curricula>

<table id="tblLista" class="table table-bordered table-condensed">
    <thead>
        <tr class="active">
            <th>Codigo</th>
            <th>Año</th>
            <th>Curricula Base</th>
            <th>Elaborado Por</th>
            <th>Fecha Aprobación</th>
            <th>Fecha Rechazo</th>
            <th>Estado</th>
            <th>Motivo Rechazo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count == 0)
        {
            <tr><td colspan="9">No se encontraron registros.</td></tr>
        }
        else
        {
            foreach (Curricula item in Model)
            {
                string fechaAprobacion = item.FechaAprobacion.Value == DateTime.MinValue ? "" : item.FechaAprobacion.Value.ToShortDateString();
                string fechaRechazo = item.FechaRechazo.Value == DateTime.MinValue ? "" : item.FechaRechazo.Value.ToShortDateString();

                string estado = "En Revisión";

                <tr>
                    <td data-value="@item.IdCurricula">@item.Codigo</td>
                    <td>@item.Año</td>
                    <td>@item.CurriculaBase.NumeroResolucion</td>
                    <td>@item.NoUsuarioCreacion</td>
                    <td>@fechaAprobacion</td>
                    <td>@fechaRechazo</td>
                    <td>@estado</td>
                    <td>@item.MotivoRechazo</td>
                    <td>
                        <a class="btn btn-xs btn-info" target="_blank" href="@Url.Content("~/VerCurricula/Index?key="+item.IdCurricula.ToString())">
                            <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                        </a>
                        <button type="button" name="btnAprobar" class="btn btn-xs btn-info">
                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>